#broadcastTop{
    /* background-image: url('../../images//bg.png'); */
    height: 90vh ;
    width: 100vw;
    /* background-size: 100%; */
    background-repeat: no-repeat;
    background-color: #E5DDD5;
    /* overflow-y: scroll; */

}

#mainBroadcast{
    position: relative;
    width: 63vw;
    height: 100%;

}

#messageScreen{
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#innerBottom{
    position: absolute;
    bottom: 0px;
    background-color: #F0F0F0;
    /* width: 900px;  */
    /* width: 100vw; */
    width:69vw;
    height: 8vh;
    
}

#messageSpace{
    padding: 20px;
    position: relative;
}

#textField{
    border-radius: 20px;
    background-color: rgb(255, 254, 254);
    border: 1px solid #999;
    width: 100%;
    margin: 5px;
    height: 6vh;
    outline: none;
    padding: 10px;
    margin-left: 30px;
}



#reciever{
    text-align: left;
    margin-top: 5vh;
    padding: 40px;
    /* background-color: rgb(22, 21, 22); */
}

#rectext{
    padding: 20px;
    background-color: #880E4F;
    border-radius: 8px ;
    color: white;
    margin: 0px;
    margin-top: 5px;
    border: 3px solid rgb(12, 12, 12);
    text-align: left;
    /* margin-right: 4vw; */
}

#rectext:hover{
    background-color: rgb(165, 8, 92);
}


#sender{
    text-align: left;
    margin-left: 35vw;
}

#sendtext{
    padding: 20px;
    background-color: #00796B;
    border-radius: 8px ;
    color: white;
    
    /* margin-left: 40vw; */
}
#downArrow{
    background-color: #E91E63;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    bottom: 12vh;
    right: 6vw;
}
#sendtext:hover{
    
    background-color: rgb(3, 139, 124);
}

#inputDiv{
    position: relative;
}

#gallery{
    position: absolute;
    right: 1vw;
    top: 1vh;
}

#messTop{
    margin: 20px;
    width: 25vw;
}
@media only screen and (width: 375px) {
    #broadcastTop{
        width: 100%;
        height: 100%;
    }
    #receiver{
       width: 100%;
       /* padding: 5px; */
   }
   #rextext{
       width: 100vw !important;
       text-align: left;
   }
   #messTop{
    margin: 20px;
    width: 60vw;
    text-align: left;
}
    #sender{
     margin-left: 30vw;   
     width: 90%;
     text-align: left;
    }
    #sendtext{
        text-align: left;
        /* margin-left: 20px; */
        padding: 20px;
        width: 200px;
    }
   #messageScreen{
    height: 90vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
}
   #textField{
    height: 5vh;
    /* margin-left: 0px; */

   }

   #inputDiv{
       margin-top: 5px;
       width: 85vw;
    /* display: inline; */
    /* width: 20px; */
   }

   #send{
       width: 10vw;
   }
 
 
}

@media only screen and (max-width: 768px) {
 
 
}

@media only screen and (width: 1024px) {
   
 
}

@media only screen and (width: 375px) {
 
 
}

@media only screen and (min-width: 768px) {

    
}