#topBanner{
    background-color: #2f2fA2;
    height: 40vh;
    position: relative;
    
}

#loginInner{
    position: absolute;
    display: flex;
    top: 20vh;
    left: 29vw;
    background-color: #fff;
    padding: 30px;
    height: 60vh;
    width: 40vw;
    box-shadow: 2px 4px 10px 2px rgb(184, 177, 177);
    border-radius: 10px;
    justify-content: center;    
    /* align-items: center; */
}